@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/IRANSansWeb_Medium.eot);
    src: url(../fonts/IRANSansWeb_Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/IRANSansWeb_Medium.woff2) format('woff2'),
    url(../fonts/IRANSansWeb_Medium.woff) format('woff'),
    url(../fonts/IRANSansWeb_Medium.ttf) format('truetype')
}
